<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Critical Error | VACenter 4</title>
</head>
<body>
    <h1>Hello!</h1>
    <p>A critical error has occured with VACenter. This error has been reported to VACenter Group.</p>
    <p><strong>Sentry ID:</strong> <%= sentryCode%></p>
    <%- include('components/scripts.ejs')%>
</body>
</html>