<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VACenter 4 Setup</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

        * {
            font-family: "Open Sans", "Arial";
        }

        label {
            font-size: 20px;
        }
    </style>
</head>

<body style="padding: 15px;">
    <div style="width: 100%; text-align: center;">
        <img src="https://va-center.com/public/images/logo.webp" width="100">
        <h1>VACenter 4 Setup (Phase I) Complete</h1>
        <p>Welcome to VACenter 4! Phase I setup was successfully completed, we are waiting for the server to restart... (can take up to a minute)</p>
    </div>
    <script>
        let failTimes = 0;
        let checker = setInterval(()=>{
            const options = {
                method: 'GET'
            };
            
            fetch('/', options).then(response =>{
                if(response.status == 200){
                    window.location.href = "/";
                }else{
                    if(failTimes > 30){
                        console.error([response.status, response.statusText]);
                        clearInterval(checker);
                        alert("Restarting VACenter failed, please contact support.");
                    }
                }
            }).catch(err =>{
                console.error(err);
                clearInterval(checker);
                alert("Restarting VACenter failed, please contact support.");
            })
        }, 2000)
    </script>
</body>

</html>