@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Nunito';
}

body{
  background-color: #212529 !important;
}

.navItemHolder .btn-light{
  transition: 0.5s !important;
}
.navItemHolder .btn-light:hover{
  background-color: rgb(209, 209, 209);
  border-color: rgb(209, 209, 209);
}

#content{
  width: 100vw !important;
  margin-right: 0px !important;
  padding-bottom: 7.5vh;
  min-height: 70vh;
  padding-left: 320px !important;
}
#footer{
  padding-left: 320px !important;
}
.fixed-table-body{
  height: auto !important;
}
#sidebar{
  left: 0px;
  top: 0px;
  width: 280px;
  z-index: 2000 !important;
  overflow-y: scroll;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media only screen and (max-width: 577px){
    #sidebar{
        width: 100vw !important;
        left: -1500px;
    }
    #content{
        padding-left: 15px !important;
        text-align: center !important;
        padding-right: 15px !important;
    }
    #footer{
        padding-left: 0px !important;
    }
}