html,body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.fhContainer{
  display: flex;
  flex-direction: column;
}

.fhContent{
  flex-grow: 1;
}

.centerVH{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  transform: translate(0%, -50%);
}