<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup | VACenter 4</title>
    <%- include('../../components/head')%>
    <link rel="stylesheet" href="/public/styles/normalSetup.css">
</head>
<body>
    <div class="fhContainer w-100 h-100">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fhNav" aria-label="Tenth navbar example">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08"
                    aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse justify-content-center" id="navbarsExample08">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active fw-bold fs-4" aria-current="page" href="#">VACenter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row row-cols-2 fhContent">
            <div class="col-4 px-3 text-center">
                <div class="position-relative h-100">
                    <div class="centerVH w-100 mx-auto">
                        <i id="stage_ICON" class="bi bi-pc-display text-primary display-1"></i>
                        <div class="d-none" id="stage_IMAGE">
                            <img style="width: 25%;" src="https://va-center.com/public/images/logo.webp"><br><br>
                        </div>
                        <h1 id="stage_TITLE" class="display-3 fw-bold">Loading...</h1><br>
                        <p id="stage_DESC" class="fs-5">Loading...</p>

                        <div id="progressBar" class="position-relative my-3 mx-auto w-50" style="height: 10px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-8 border-start border-dark border-3 px-5 h-100" style="overflow-y: scroll;">
                <div id="stage_SET_intro" class="d-none p-5 w-100 text-center">
                    <h1 class="fw-bold mt-5 display-4">VACenter 4</h1>
                    <p class="fs-5">Welcome to your new VACenter instance. To begin setup of your new CC, click the begin button below!</p>
                    <button onclick="nextStage();" class="fw-bold fs-5 btn btn-primary btn-lg">Begin <i class="bi bi-arrow-right-circle-fill"></i></button>
                </div>
                <div id="stage_SET_analytics" class="d-none p-5 w-100 text-center">
                    <h1 class="fw-bold mt-5 display-4">VACenter Analytics</h1>
                    <p class="fs-5">To help better improve your, and your pilot's experience with VACenter, VACenter can automatically collect analytics and metrics.
                    </p>
                    <button onclick="processAnalytics(false);" class="fw-bold fs-5 mx-3 btn btn-secondary btn-lg">Deny <i class="bi bi-x-circle-fill"></i></button>
                    <button onclick="processAnalytics(true);" class="fw-bold fs-5 mx-3 btn btn-primary btn-lg">Accept <i class="bi bi-check-circle-fill"></i></button>
                </div>
                <div id="stage_SET_name" class="d-none p-5 w-100 text-center">
                    <h1 class="fw-bold mt-5 display-4">Airline Name</h1>
                    <p class="fs-5">Please enter the name of your Virtual Airline.</p>
                    <input type="text" id="vaName" class="form-control mx-auto" oninput="this.style.width = 0; this.style.width = (this.scrollWidth + 100)+ 'px';" style="min-width: 100px; width: 100px; text-align: center;"><br>
                    <button onclick="processName();" class="fw-bold fs-5 mx-3 btn btn-primary btn-lg">Submit <i
                            class="bi bi-arrow-right-circle-fill"></i></button>
                </div>
                <div id="stage_SET_code" class="d-none p-5 w-100 text-center">
                    <h1 class="fw-bold mt-5 display-4">Airline Code</h1>
                    <p class="fs-5">Please enter the code of your Virtual Airline.</p>
                    <input type="text" id="vaCode" class="form-control mx-auto"
                        oninput="this.style.width = 0; this.style.width = (this.scrollWidth + 100)+ 'px';"
                        style="min-width: 100px; width: 100px; text-align: center;"><br>
                    <button onclick="processCode();" class="fw-bold fs-5 mx-3 btn btn-primary btn-lg">Submit <i
                            class="bi bi-arrow-right-circle-fill"></i></button>
                </div>
                <div id="stage_SET_acc" class="d-none p-5 w-100 text-center">
                    <h1 class="fw-bold mt-5 display-4">Default Account</h1>
                    <p class="fs-5">Please create a password for your default account.</p>
                    <div class="mb-3 row">
                        <label for="staticPilotID" class="col-sm-2 col-form-label">Pilot ID</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticPilotID" value="DEFAULT">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputPasswordConfirm" class="col-sm-2 col-form-label">Confirm Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPasswordConfirm">
                        </div>
                    </div>
                    <button onclick="processDefault();" class="fw-bold fs-5 mx-3 btn btn-primary btn-lg">Create <i class="bi bi-arrow-right-circle-fill"></i></button>
                </div>
                <div id="stage_SET_review" class="d-none p-5 w-100 text-center">
                    <h1 class="fw-bold mt-5 display-4">Review Settings</h1>
                    <p class="fs-5" id="finalDescriptionTEXT">Please review the settings below before finishing setup. If you wish to change any information, please click the "Restart" button below.</p>
                    <div class="mb-3 row">
                        <label for="staticReviewAnalytics" class="col-sm-2 col-form-label fw-bold"><i class="bi bi-bar-chart-fill"></i> Analytics</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticReviewAnalytics" value="ERROR">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticReviewName" class="col-sm-2 col-form-label fw-bold"><i class="bi bi-type"></i> VA Name</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticReviewName" value="ERROR">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticReviewCode" class="col-sm-2 col-form-label fw-bold"><i class="bi bi-type-bold"></i> VA Code</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticReviewCode" value="ERROR">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="staticReviewUser" class="col-sm-2 col-form-label fw-bold"><i class="bi bi-person-circle"></i> Default Login</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="staticReviewUser" value="ERROR">
                        </div>
                    </div>
                    
                    <button onclick="window.location.reload();" id="finalRestartBTN" class="fw-bold fs-5 mx-3 btn btn-secondary btn-lg"><i class="bi bi-arrow-clockwise"></i> Restart</button>

                    <button onclick="finish();" id="finalSetupBTN" class="fw-bold fs-5 mx-3 btn btn-primary btn-lg">Finish Setup <i class="bi bi-arrow-right-circle-fill"></i></button>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../components/scripts')%>
    <script src="/public/scripts/progress.min.js"></script>
    <script src="/public/scripts/normalSetup.js"></script>
</body>
</html>